blockquote {
  font-size: 100%;
}

div.keypoints, div.questions {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  border: 3px solid #C0C0C0;
  border-radius: 10px;
}

div.challenges {
  counter-reset: challenge;
}

div.challenges h3::before {
  counter-increment: challenge;
  content: counter(challenge) ") ";
}

div.challenges h2 {
  font-style: italic;
}

div.challenges h3 {
  font-style: italic;
}

div.callout {
  padding-left: 0.5rem;
  background-color: #F8F8F8;
}

div.callout h3 {
  padding-top: 0.5rem;
}

li.lesson {
}

li.misc {
  font-style: italic;
}

.copyright {
  text-align: center;
  font-size: 90%;
}

.message {
  font-size: 90%;
  background: #F0F0F0;
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  min-height: 100vh;
  padding: 10px;
  transition: right 300ms;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

#toggle {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

#toggle + label {
  position: absolute;
  cursor: pointer;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

#toggle + label:after {
  content: '\2630';
  color: #808080;
  font-size: 1.5em;
}

.container {
  transition: margin 300ms;
}

#toggle:checked ~ .message {
  right: 0;
}

#toggle:checked + label:after {
  content: '\2630';
  font-size: 1.5em;
}

a {
  color: #8080C0;
}
