*.4ct
*.4tc
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.dvi
*.egg-info
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.pyg
*.run.xml
*.tmp
*.toc
*.xref
*~
.DS_Store
.Rhistory
.Rproj.user
.cache/
.coverage
.~lock.*
__pycache__
_minted-*
_site
book.pdf
dist
htmlcov
node_modules/
package-lock.json
project/results/*.*
summaries.pdf
temp.tex
