Stephan Druskat <sdruskat@users.noreply.github.com> <stephan.druskat@hu-berlin.de>
Toby Hodges <tbyhdgs@gmail.com>
Eric Leung <erictleung@outlook.com>
Miles McBain <miles.mcbain@gmail.com>
Peter Munro <munro_brisbane@hotmail.com>
Leonardo Uieda <leouieda@gmail.com>
Greg Wilson <greg@datacamp.com> <greg.wilson@rangle.io> <gvwilson@third-bit.com>
Donny Winston <dwinston@alum.mit.edu>
