{% comment %}
CSS, fonts, and JavaScript needed by all pages.
{% endcomment %}
<link href="{{'/assets/css/bootstrap.min.css' | relative_url}}" rel="stylesheet" />
<link href="{{'/assets/css/bootstrap-theme.min.css' | relative_url}}" rel="stylesheet" />
<link href="{{'/assets/css/font-awesome.min.css' | relative_url}}" rel="stylesheet" />
<link href="{{'/assets/css/syntax.css' | relative_url}}" rel="stylesheet" />
<link href="{{'/assets/css/site.css' | relative_url}}" rel="stylesheet" />
<script src="{{'/assets/js/jquery-1.9.1.min.js' | relative_url}}"></script>
<script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>
<script src="{{'/assets/js/site.js' | relative_url}}"></script>
