<blockquote class="callout disclaimer">
  <strong>December 2018: This material is under very active development,</strong>
  and we would appreciate your help:
  please <a href="mailto:{{site.email}}">email us</a>,
  <a href="{{site.repo}}issues">file an issue</a> in <a href="{{site.repo}}">our GitHub repository</a>,
  or <a href="{{site.repo}}pulls">submit a pull request</a>.
  (We would particularly appreciate descriptions of common errors and how to fix them.)
  Everyone whose work is incorporated will be acknowledged;
  please note that all contributors are required to abide by <a href="{{'/en/conduct/'|relative_url}}">our Code of Conduct</a>.
</blockquote>
