<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{'/'|absolute_url}}"><img src="{{'/favicon.ico'|absolute_url}}" alt="logo" height="30px" /></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lessons</a>
            <ul class="dropdown-menu">
              {% for entry in site.data.toc %}
                {% if entry.type == 'lesson' %}
                  <li><a href="{{entry.permalink | absolute_url}}">{{entry.title}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras</a>
            <ul class="dropdown-menu">
              {% for entry in site.data.toc %}
                {% if entry.type == 'misc' %}
                  <li><a href="{{entry.permalink | absolute_url}}">{{entry.title}}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
          <li>
            {% if include.previous %}<a href="{{include.previous}}">&#9668;</a>{% else %}<a>&nbsp;</a>{% endif %}
          </li>
          <li>
            {% if include.next %}<a href="{{include.next}}">&#9658;</a>{% else %}<a>&nbsp;</a>{% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
