<div align="center">
  {% unless page.manual %}
    <div class="row">
      <nav aria-label="...">
        <ul class="pager">
          {% if include.previous %}
            <li class="previous"><a href="{{include.previous|absolute_url}}"><span aria-hidden="true">&larr;</span> Prev</a></li>
          {% else %}
            <li class="previous"><a href="{{'/'|absolute_url}}"><span aria-hidden="true">&larr;</span>Main</a></li>
          {% endif %}
          {% if include.next %}
            <li class="next"><a href="{{include.next|absolute_url}}">Next <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}
            <li class="next"><a href="{{'/'|absolute_url}}">Main <span aria-hidden="true">&rarr;</span></a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  {% endunless %}
  {% if include.copyright %}
  <div class="row">
    <span class="col-md-2" align="left">
    </span>
    <span class="col-md-8" align="center">
      <em>
        <a href="{{'/'|absolute_url}}">{{site.title}}</a> &copy; {{site.author}} {{site.copyrightyear}}
        <br/>
        See <a href="{{'/license/'|absolute_url}}">the license</a> for terms of use
      </em>
    </span>
    <span class="col-md-2" align="right">
    </span>
  </div>
  {% endif %}
</div>
