{% assign previous_link = null %}
{% assign next_link = null %}
{% for item in site.toc  %}
  {% if item.permalink == page.permalink %}
    {% unless forloop.first %}
      {% assign previous_link = previous_item.permalink %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next_link = site.toc[forloop.index].permalink %}
    {% endunless %}
  {% endif %}
  {% assign previous_item = item %}
{% endfor %}

{% unless page.nonavbar %}
<div class="row">
  <span class="col-md-2" align="left">
    {% if previous_link %}
    <a class="nav-link" href="{{previous_link|absolute_url}}">Previous</a>
    {% else %}
    <a class="nav-link" href="{{'/'|absolute_url}}">Up</a>
    {% endif %}
  </span>
  <span class="col-md-8" align="center">
    <a href="{{'/'|absolute_url}}">{{site.title}}</a>
  </span>
  <span class="col-md-2" align="right">
    {% if next_link %}
    <a class="nav-link" href="{{next_link|absolute_url}}">Next</a>
    {% else %}
    <a class="nav-link" href="{{'/'|absolute_url}}">Up</a>
    {% endif %}
  </span>
</div>
{% endunless %}
