<h2>Syllabus</h2>
{% for toc in site.toc %}
{% for lesson in site.lessons %}
{% if toc.permalink == lesson.permalink %}
<h3><a href=".{{toc.permalink}}">{{toc.title}}</a></h3>
<div class="row">
  <div class="col-md-6">Questions</div>
  <div class="col-md-6">Key Points</div>
</div>
<div class="row">
  <div class="col-md-6">
  <ul>
    {% for item in lesson.questions %}
    <li>{{item}}</li>{% endfor %}
  </ul>
  </div>
  <div class="col-md-6">
  <ul>
    {% for item in lesson.keypoints %}
    <li>{{item}}</li>{% endfor %}
  </ul>
  </div>
</div>
{% break %}
{% endif %}
{% endfor %}
{% endfor %}
