<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="search-domain" content="http://gvwilson.github.io/js-vs-rc" />
    <link href="{{'/css/bootstrap.css' | absolute_url}}" rel="stylesheet" />
    <link href="{{'/css/bootstrap-theme.css' | absolute_url}}" rel="stylesheet" />
    <link href="{{'/css/syntax.css' | absolute_url}}" rel="stylesheet" />
    <link href="{{'/css/site.css' | absolute_url}}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
  </head>
  <body>
    <div class="container shadow">
      <div class="row-fluid">
        <div class="span10 offset1">
          <h1>{{site.title}}</h1>
          <h2>{% if page.title %}{{page.title}}{% endif %}</h2>
{{content}}
          <footer align="center">
            <hr/>
            <p><em>JavaScript versus Research Computing &copy; 2017 Greg Wilson - see <a href="./license/">the license</a> for terms of use.</em></p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
