<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="search-domain" content="http://gvwilson.github.io/js-vs-rc" />
    <link href="{{'/css/bootstrap.css' | absolute_url}}" rel="stylesheet" />
    <link href="{{'/css/bootstrap-theme.css' | absolute_url}}" rel="stylesheet" />
    <link href="{{'/css/syntax.css' | absolute_url}}" rel="stylesheet" />
    <link href="{{'/css/site.css' | absolute_url}}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
  </head>
  <body>
    <div class="container shadow">
      <div class="row-fluid">
        <div class="span10 offset1">
          {% unless page.nonavbar %}{% include navbar.html %}{% endunless %}
          {% if page.title %}<h2>{{page.title}}</h2>{% endif %}
{{content}}
          <footer align="center">
            <hr/>
            <p>
              <em>
                <a href="{{'/'|absolute_url}}">JavaScript versus Research Computing</a>
                &copy; 2017 Greg Wilson - see <a href="./license/">the license</a> for terms of use.
              </em>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
