{% assign previous = null %}
{% assign next = null %}
{% unless page.manual %}
  {% for permalink in site.data.toc  %}
    {% if permalink == page.permalink %}
      {% unless forloop.first %}
        {% assign previous = trailing %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = site.data.toc[forloop.index] %}
      {% endunless %}
      {% break %}
    {% endif %}
    {% assign trailing = permalink %}
  {% endfor %}
{% endunless %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="search-domain" content="http://gvwilson.github.io/js-vs-rc" />
    <link href="{{'/assets/css/bootstrap.min.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/bootstrap-theme.min.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/font-awesome.min.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/syntax.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/site.css' | relative_url}}" rel="stylesheet" />
    <script src="{{'/assets/js/jquery-1.9.1.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/site.js' | relative_url}}"></script>
    <title>{{site.title}}{% if page.title %}: {{page.title}}{% endif %}</title>
  </head>
  <body>
    <div class="container">
      {% include header.html previous=previous next=next %}
      <div class="content">
      {% if page.title %}<h1>{{page.title}}</h1>{% endif %}
      {{content}}
      </div>
      {% include footer.html previous=previous next=next %}
    </div>
  </body>
</html>
