{% assign previous = null %}
{% assign next = null %}
{% assign this = null %}
{% assign title = null %}
{% unless page.manual %}
  {% for item in site.data.toc  %}
    {% if item.permalink == page.permalink %}
      {% assign this = item %}
      {% assign title = item.title %}
      {% unless forloop.first %}
        {% assign previous = previous_item %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = site.data.toc[forloop.index] %}
      {% endunless %}
      {% break %}
    {% endif %}
    {% assign previous_item = item %}
  {% endfor %}
{% endunless %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="search-domain" content="http://gvwilson.github.io/js-vs-rc" />
    <link href="{{'/assets/css/bootstrap.min.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/bootstrap-theme.min.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/font-awesome.min.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/syntax.css' | relative_url}}" rel="stylesheet" />
    <link href="{{'/assets/css/site.css' | relative_url}}" rel="stylesheet" />
    <script src="{{'/assets/js/jquery-1.9.1.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/bootstrap.min.js' | relative_url}}"></script>
    <script src="{{'/assets/js/site.js' | relative_url}}"></script>
    <title>{{site.title}}{% if this %}: {{this.title}}{% endif %}</title>
  </head>
  <body>
    <div class="container">
      {% include header.html previous=previous.permalink next=next.permalink %}
      {% if this %}<h1>{{this.title}}</h1>{% endif %}
      {% if this.type == "lesson" %}{% include listblock.html title="Questions" items=this.questions class="questions" section=false %}{% endif %}
{{content}}
      {% if this.type == "lesson" %}{% include listblock.html title="Key Points" items=this.keypoints class="keypoints" section=false %}{% endif %}
      {% include footer.html previous=previous.permalink next=next.permalink %}
    </div>
  </body>
</html>
